%h2 Your cart

- unless @order_items.empty?
  = form_tag cart_path, method: :put do
    %table
      %thead
      %tbody
        - @order_items.each do |item|
          = fields_for "order_items[]", item do |f|
            = render 'row', item: item, f: f
    = submit_tag 'Update Cart'
  = button_to 'Empty Cart', cart_path, method: :delete
  %h4= "Total: #{order_total_price}"
  = link_to 'Checkout', order_steps_path
- else
  %p Your shopping cart is empty.
