.form-group
  = addr.text_field :first_name, class: 'form-control', placeholder: 'First name'
.form-group
  = addr.text_field :last_name, class: 'form-control', placeholder: 'Last name'
.form-group
  = addr.text_field :address, class: 'form-control', placeholder: 'Street address'
.form-group
  = addr.text_field :city, class: 'form-control', placeholder: 'City'
.form-group
  = addr.country_select :country, { prompt: 'Select country' }, { class: 'form-control' }
.form-group
  = addr.text_field :zipcode, class: 'form-control', placeholder: 'Zipcode'
.form-group
  = addr.text_field :phone, class: 'form-control', placeholder: 'Phone'
