<h2>Checkout</h2>
<%= render 'steps' %>
<h3>Billing Address</h3>
<%= render 'shared/error_messages', object: @form.billing_address %>
<%= form_for @form.billing_address, url: wizard_path, method: :patch do |bill| %>
  <%= render 'address_form', addr: bill %>
  <%= bill.submit 'Save and continue' %>
<% end %>
