<h2>Checkout</h2>
<h3>
  <%= "Order #{last_order.id}" %>
</h3>
<div>
  <div>
    <h4>Shipping address</h4>
    <p>
      <%= last_order.shipping_address.full_name %>
    </p>
    <p>
      <%= last_order.shipping_address.address %>
    </p>
    <p>
      <%= last_order.shipping_address.city %>
      <%= last_order.shipping_address.zipcode %>
    </p>
    <p>
      <%= last_order.shipping_address.country %>
    </p>
    <p>
      Phone
      <%= last_order.shipping_address.phone %>
    </p>
  </div>
  <div>
    <h4>Billing address</h4>
    <p>
      <%= last_order.billing_address.full_name %>
    </p>
    <p>
      <%= last_order.billing_address.address %>
    </p>
    <p>
      <%= last_order.billing_address.city %>
      <%= last_order.billing_address.zipcode %>
    </p>
    <p>
      <%= last_order.billing_address.country %>
    </p>
    <p>
      Phone
      <%= last_order.billing_address.phone %>
    </p>
  </div>
  <div>
    <h4>Shipments</h4>
    <p>
      <%= last_order.delivery.name %>
    </p>
  </div>
  <div>
    <h4>Shipments</h4>
    <p>
      <%= current_user.credit_card.mask %>
    </p>
    <p>
      <%= current_user.credit_card.date %>
    </p>
  </div>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% last_order.order_items.each do |item| %>
        <tr>
          <td>
            <%= item.product.title %>
          </td>
          <td>
            <%= number_to_currency item.price %>
          </td>
          <td>
            <center>
              <%= item.quantity %>
            </center>
          </td>
          <td>
            <%= number_to_currency(item.quantity * item.price) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="subtotal" colspan="4">
          <p>Subtotal</p>
          <p>Shipping</p>
          <p>Order Total</p>
        </td>
        <td colspan="2">
          <p>
            <b>
              <%= number_to_currency last_order.total_price %>
            </b>
          </p>
          <p>
            <b>
              <%= number_to_currency last_order.delivery.price %>
            </b>
          </p>
          <p>
            <b>
              <%= number_to_currency last_order.total_price + last_order.delivery.price %>
            </b>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'Go back to the store', main_app.root_path %>
</p>
