%h2 Checkout

%h3= "Order #{last_order.id}"

.row
  .col-md-3
    %h4 Shipping address
    %p= last_order.shipping_address.full_name
    %p= last_order.shipping_address.address
    %p
      = last_order.shipping_address.city
      = last_order.shipping_address.zipcode
    %p= last_order.shipping_address.country
    %p
      Phone
      = last_order.shipping_address.phone
  .col-md-3
    %h4 Billing address
    %p= last_order.billing_address.full_name
    %p= last_order.billing_address.address
    %p
      = last_order.billing_address.city
      = last_order.billing_address.zipcode
    %p= last_order.billing_address.country
    %p
      Phone
      = last_order.billing_address.phone
  .col-md-3
    %h4 Shipments
    %p= last_order.delivery.name
  .col-md-3
    %h4 Shipments
    %p= current_user.credit_card.mask
    %p= current_user.credit_card.date

.row
  %table.table
    %thead
      %tr
        %th Product
        %th Price
        %th Qty
        %th Total
    %tbody
      - last_order.order_items.each do |item|
        %tr
          %td= item.product.title
          %td= number_to_currency item.price
          %td
            %center= item.quantity
          %td= number_to_currency(item.quantity * item.price)
      %tr
        %td.subtotal{colspan: 4}
          %p Subtotal
          %p Shipping
          %p Order Total
        %td{colspan: 2}
          %p
            %b= number_to_currency last_order.total_price
          %p
            %b= number_to_currency last_order.delivery.price
          %p
            %b= number_to_currency last_order.total_price + last_order.delivery.price

%p= link_to 'Go back to the store', main_app.root_path
